{% extends 'base.html' %}
{% load static %}

{% block styles %}
<script src="https://kit.fontawesome.com/a0d321d495.js" crossorigin="anonymous"></script>
<link href="{% static 'css/admin_dashboard.css' %}" rel="stylesheet">

{% endblock styles %}



{% block content %}


<!-- Page Wrapper -->

{% include 'includes/sa_sidebar.html' %}
    


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'includes/navbar.html' %}

                <!-- End of Page Content -->

                <!-- ===== END OF CONTENT  ===== -->



        </div>
        <!-- End of Main Content  -->

        <!--Pagination-->
 {% if queryset %}
 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if queryset.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?page={{ queryset.previous_page_number }}">Previous</a>
      </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
      </li>
    {% endif %}

    {% if queryset.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ queryset.number|add:'-5' }}">&hellip;</a></li>
    {% endif %}

    {% for i in queryset.paginator.page_range %}
        {% if queryset.number == i %}
            <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% elif i > queryset.number|add:'-5' and i < queryset.number|add:'5' %}
             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if queryset.paginator.num_pages > queryset.number|add:'4' %}
       <li class="page-item"><a class="page-link" href="?page={{ queryset.number|add:'5' }}">&hellip;</a></li>
    {% endif %}

    {% if queryset.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ queryset.next_page_number }}">Next</a>
      </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<br>
<!--end of Pagination-->

        <!-- Scroll to Top-->
        <a class="scroll-to-top rounded" href="#scroll-up">
            <i class='bx bxs-up-arrow'></i>
        </a>
        <!-- End of Scroll to Top-->


{% endblock %}

