{% load static %}

 
<!DOCTYPE html>
<html lang="en">

<body class="">
 
      <div class="container-fluid">
        <div class="row">
         <div class="col-md-8">  
            <div id="accordion" role="tablist">

                <form method="POST" action="/webcamera/" enctype="multipart/form-data">
                    {% csrf_token %}
                      ....

                   <div class="card-body">
                     <div class="row">
                       <div class="col-md-4 ml-auto mr-auto">
                          <div class="form-group">                                
                             <video id="video" autoplay ></video>                               
                             <canvas id="canvas"></canvas>                                
                       </div>
                       <input type="hidden" name="photo" id="photo" value=""/>
                       <button id="startbutton1" class="btn btn-outline-secondary btn-sm">Take Photo</button>
                       <button id="submit" type="submit">submit</button>
                              <script src="{% static "js/capture.js" %}"></script> 
                            </div>

              </form>
          </div>                
        </div>  
     </div>
  </div>